In [26]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import BernoulliNB

In [23]:
# For Documentation Purposes
df = pd.read_csv("weather_data.csv")
df.describe()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,998.000000,998.000000,989.00000,964.000000,975.000000,974.000000,999.000000,1000.000000,999.000000,1000.000000,322.000000,398.000000,999.000000,1000.00000
mean,15.406513,31.064830,0.83640,41.613071,18.214359,17.032854,41.729730,23.782000,1016.693594,1012.877700,5.571429,4.849246,21.804505,29.71180
std,7.339294,7.657221,4.88837,10.799440,7.717164,6.879744,21.700157,16.031952,6.546135,6.585493,2.645667,2.797514,7.772497,7.40654
min,-0.500000,11.300000,0.00000,19.000000,0.000000,0.000000,5.000000,3.000000,994.600000,989.200000,1.000000,0.000000,5.000000,11.10000
25%,8.900000,24.625000,0.00000,35.000000,13.000000,11.000000,24.000000,12.750000,1012.000000,1008.175000,3.000000,2.000000,14.850000,23.47500
50%,16.350000,32.400000,0.00000,41.000000,19.000000,17.000000,38.000000,20.000000,1016.300000,1012.450000,7.000000,5.000000,22.800000,30.80000
75%,21.800000,37.800000,0.00000,48.000000,24.000000,22.000000,56.000000,30.000000,1021.350000,1017.500000,8.000000,8.000000,28.700000,36.30000
max,30.200000,44.100000,83.80000,91.000000,37.000000,48.000000,100.000000,100.000000,1033.400000,1029.800000,8.000000,8.000000,36.400000,42.60000

In [25]:
df

,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,20.3,37.1,0.0,SSE,39.0,ESE,SW,17.0,19.0,14.0,9,1015.8,1012.7,NaN,NaN,27.7,35.3,No,No
1,20.0,32.6,0.0,E,52.0,ESE,E,30.0,28.0,28.0,15,1022.1,1016.7,2.0,NaN,23.6,31.9,No,No
2,18.0,33.8,0.0,E,44.0,E,ENE,30.0,22.0,23.0,10,1020.3,1014.6,NaN,NaN,22.1,32.7,No,No
3,15.5,36.5,0.0,WNW,56.0,E,NW,24.0,17.0,16.0,10,1015.6,1010.1,NaN,NaN,23.8,35.6,No,No
4,23.1,37.4,0.0,SSE,41.0,E,SE,4.0,7.0,18.0,12,1014.4,1009.7,NaN,6.0,29.6,37.0,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,11.0,51.0,24,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
996,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,9.0,56.0,21,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
997,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,9.0,53.0,24,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
998,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,7.0,51.0,24,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
999,14.9,NaN,0.0,NaN,NaN,ESE,ESE,17.0,17.0,62.0,36,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

<b>hello